/* ----- BODY ----- */

.body-light {
    background-color: white;
    color: black;
}

.body-dark {
    background-color: rgb(42, 41, 41);
    color: white;
}

/* ----- HEADER ----- */

header {
    display: flex;
    align-items: center;
    background-color: rgb(202, 202, 202);
    padding: 0 20px;
}

nav {
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 14px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    gap: 10px;
    align-items: center;
}

